@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

:root{
  --green-color: #046466 ;
  --yellow-color: #f5c86b ;
  --pink-color: #efadb0
}
body{
  background-color: var(--green-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
p, h1, h2, h3{
  margin-top: 0px;
  vertical-align: top;
  line-height: 120%;
}
b{
  font-weight: 700;
}
h1{
  font-weight: 700;
  font-size: 3em;
    text-height: 2;
}
h2{
  font-weight: 700;
  font-size: 1.3em;
}
/*----WELCOME SCREEN-----*/
.welcome_screen{
  color: var(--pink-color);
  height: 70vh;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  }
  /*----RESUME-----*/
.resume{
  color: var(--yellow-color);
  display:grid;
  grid-template-columns: minmax(400px,1fr) 250px minmax(400px,1fr);
  grid-template-rows: auto;
  grid-template-areas:
   "aboutme photo education"
   "experience photo exhibition";
}
.resume a{
  color:inherit;
  text-decoration: inherit;
}
.resume h1{
  letter-spacing: 0.07em;
  margin-top: -0.23em;
}
.resume h2{
  margin-top: -0.18em;
}
.resume div{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  padding-bottom: 50px;
}
.aboutme{
  grid-area: aboutme;
  text-align: right;
}
.aboutme p{
    line-height: 140%;
}
.aboutme h2{
    line-height: 130%;
}
.resumephoto{
  grid-area: photo;
 background-color: var(--pink-color);
  margin: 0px 30%;
  margin-bottom: 66px;
  position: relative;
}
.resumephoto img{
  position: absolute;
  bottom: 0;
  left:0;right:0;
  max-width: 100%;
  max-height: 70%;
  object-fit: cover:
  display: block;
  margin: auto;
}
.eduction{
  grid-area: education;
}
.experience{
  grid-area: experience;
  text-align: right;
}
.exhibition{
  grid-area: exhibition;
}
