@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');

:root{
  --color_green: #046466 ;
  --color_text_yellow: #f5c86b ;
  --color_yellow: #ffd957;
  --color_pink: #efadb0;
  --top_right_deco_radius: calc(30*(0.5vh+0.5vw)); /*for small_rect_size calculation*/
  --small_rect_size: calc(var(--top_right_deco_radius)*0.2929); /*a=R(1-sqrt(2)/2)*/
}
html{
scroll-behavior: smooth;
}
body{
  background-color: var(--color_green);
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 16px;
  margin: 0px;
  min-width: 1200px;
  max-width: 1920px;

}
p, h1, h2, h3{
  margin-top: 0px;
  vertical-align: top;
  line-height: 120%;
}
::selection{
  background-color: var(--color_pink);
  color: #EFE7CF;
}
b{
  font-weight: 700;
}
h1{
  font-weight: 700;
  font-size: 3em;
  text-height: 2;
}
h2{
  font-weight: 700;
  font-size: 1.3em;
}
/*-------------------------------WELCOME SCREEN-------------------*/
.welcome_screen{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  min-height: 550px;
  /*height: 0; padding-top: min(100vh,56.25%);/*56.25%;  16:9 Aspect Ratio */
  max-padding-top
  /*text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;*/
  }
.welcome_screen p,a{
  margin: 0px;
  padding: 0px;
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
  display: inline;
  line-height: 100%;
}
.name_field{
  background-color: var(--color_pink);
  border-radius: calc(60*(0.5vh+0.5vw)) 0px;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  min-width: 50em;
  height: 60%;
  /*------*text properties*----*/
  color: var(--color_green);
}
.name_field a{
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: var(--color_green);
}
.top_right_deco{

  background-color: var(--color_yellow);
  border-radius: 0px var(--top_right_deco_radius);
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 50%;
}
.small_rect{
  background-color: var(--color_yellow);
  width: var(--small_rect_size);
  height: var(--small_rect_size);
}
.rect{
  background-color: var(--color_yellow);
  width: 2em;
  height: 2em;
}
.name_field .small_rect
{
  position: absolute;
  right: 0px;
}
.position_field{
  color: var(--color_yellow);
  position: absolute;
  top: calc(60% + 20px);
  right: 0;
  width: 60%;
  min-width: 50em;
  /*min-width: 55em;*/
  display: inline-block;
}
.position_field .rect{
 display: inline-block;
 margin-right: 0.5em;
 margin-left: 8em;
}
.link_portfolio{
  display: block;
  width:450px;
  height: 5em;
  line-height: 5em;
  text-align: center;
  border: 0.4rem solid var(--color_yellow);
  border-radius: 100px 0px;
  display: block;
  color: var(--color_yellow);
  transition: background-color 0.3s,box-shadow 0.7s;

}
.link_portfolio:hover {
  color: var(--color_green);
  background-color: var(--color_yellow);
  box-shadow: 10px 10px #003536;

}
.welcome_screen .link_portfolio{
  position: absolute;
  bottom: 2rem;
  left: 3rem;
}
#rect_1{
  position: absolute;
  top: min(19em, 40%);
  left: min(12.5em, 20%);
}
.decoration_middle{
  background: var(--color_pink);
  width:10em;
  height: 17em;
  position: absolute;
  bottom: 4em;
  left: -5em;
  border-top-right-radius: 7em;
}
  /*----------------------RESUME-------------------------*/

.resume{
  margin: 15rem 0.5rem;
  color: var(--color_text_yellow);
  display:grid;
  grid-template-columns: minmax(400px,4fr) 1.2fr minmax(400px,4fr);
  grid-template-rows: auto;
  grid-template-areas:
   "aboutme photo education"
   "experience photo exhibition";
     scroll-behavior: smooth;
}
.resume a{
  color:inherit;
  text-decoration: inherit;
}
.resume h1{
  letter-spacing: 0.07em;
}
.resume h2{
/*  margin-top: -0.18em;*/
}
.resume div{
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  padding-bottom: 3rem;
}
.aboutme{
  grid-area: aboutme;
  text-align: right;
}
.aboutme p{
    line-height: 140%;
}
.aboutme h2{
    line-height: 130%;
}
.resumephoto{
  grid-area: photo;
  background-color: var(--color_pink);
  width:70%;
  max-width: 7em;
  min-width: 4em;
  margin: 5px auto;
  margin-bottom: 4em;
  position: relative;
}
.resumephoto img{
  position: absolute;
  bottom: 0;
  left:0;right:0;
  max-width: 100%;
  max-height: 70%;
  object-fit: cover:
  display: block;
  margin: auto;
}
.eduction{
  grid-area: education;
}
.experience{
  grid-area: experience;
  text-align: right;
}
.exhibition{
  grid-area: exhibition;
}
/*---------------------coming soon--------------*/
#link_portfolio_bottom{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
#link_portfolio_bottom div{

}
#full_page_soon{
  font-size: 2em;
  color: var(--color_pink);
  text-align: center;
  margin: 15rem 0px;
}
/*---------------------footer---------------*/
.footer{
  height: 100vh;
  width: 100%;
  position: relative;
  ---footer_border_radius: 7vw;
  overflow: hidden;
}
.footer_column{
  position: absolute;
  bottom:0px;
  width: 17%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  animation: footer_column_move 3s ease-in-out infinite 0s alternate;
}
#footer_column_1{
  background-color: #EFE7CF;
  left:0%;
  top: 0%;
  height: 50%;
  border-radius: 0 var(---footer_border_radius);
  animation-delay: 0s;
}
#footer_column_2{
  background-color: #EEACAF;
  left:20%;
  top: 0%;
  margin-top: 20vh;
  height: 75%;
  border-radius: var(---footer_border_radius) 0;
  animation-delay: 1s;
}
#footer_column_3{
  background-color: #F9D255;
  left:40%;
  top: 0%;
  height: 70%;
  border-radius: var(---footer_border_radius) 0;
  animation-delay: 1.6s;
}
#footer_column_4{
  background-color: #5FB987;
  left:60%;
  top: 0%;
  margin-top: 50vh;
  height: 45%;
  border-radius: 0 var(---footer_border_radius);
  animation-delay: 2s;
}
#footer_column_5{
  background-color: #F4A995;
  left:80%;
  top: 0%;
  margin-top: 20vh;
  height: 60%;
  border-radius: var(---footer_border_radius) 0;
  animation-delay: 2.6s;
}
/*-----------footer animation---------------*/
@keyframes footer_column_move{
  from {top: 0%;}
  to {top: 5%;}
}
